<!--
<div ba-panel>
    <div style="background: #000;text-align: center;"
         auto-height
         ng-show="show.imgs.client.imgLink"
         ng-style="setBgWidth(show.imgs.client.imgw)">
        <div style="display: inline-block;position: relative;">

            <div class="monitoring"
                 style="background: url({{show.imgs.client.imgLink}}) no-repeat center;background-size:100% 100%;display: inline-block"
                 ng-style="show.imgs.client.style">

                <img ng-repeat="item in show.imgs.incomingline"
                     ng-src="{{item.imgLink}}"
                     ng-style="item.style"/>

                <span ng-repeat="item in show.imgs.branch track by $index"
                      ng-style="item.style"
                      ng-click="onBeforeShow(item.bid)"

                      data-placement="{{$index < 3 ?'right':'left'}}"
                      data-container="body"
                      data-template-url="app/powers/monitoring/widgets/branch-detail.html"
                      data-auto-close="1"
                      bs-popover>
                </span>

            </div>

        </div>
    </div>

</div>
-->

<div ba-panel>
    <div auto-height style="background-color: #282828;">

        <monitor-svg
                monitor-data="monitorData"
                template-url="{{tree.templateUrl}}"
                view-branch="viewBranch(id)"
                tree="tree"
                scale-num="scaleNum">
        </monitor-svg>

        <div class="opt-group">
            <div class="opt-add" ng-click="add()">+</div>
            <div style="height: 15px;background: #000;width: 2px"></div>
            <div class="opt-down" ng-click="down()">-</div>
        </div>
    </div>
</div>