<style type="text/css">
    .header{
        display: inline-block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        background: #fff;
        padding: 0 10px;
    }
    hr{
        margin: 10px 0;
    }
    .date input{
        display: inline-block;
        width: 150px;
    }
</style>
<div ba-panel>
    <div class="item-content-list txuliang" auto-height>
        <div include-with-scope="app/powers/txuliang/widgets/header.html"></div>
        <div class="time" ng-show="focusIndex==1">
            <!--<bar-chart config="config" data="tu3" height="350px" class="col-md-12"></bar-chart>-->
            <!--<line-chart config="config" data="tu1" height="350px" class="col-md-12"></line-chart>-->
            <div style="height:350px;" class="col-md-12" line-chart1 e-data="show.loadLineData"></div>

            <table class="table table-bordered table-hover common-table col-md-6" style="width: 100%; margin-top: 20px">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>最大需量(KW)</th>
                    <th>发生时间</th>

                </tr>
                </thead>
                <tr>
                    <td><span>{{day}}</span></td>
                    <td><span>{{xuliang}}</span></td>
                    <td><span>{{daytime}}</span></td>
                </tr>
            </table>

        </div>
        <div class="day" ng-show="focusIndex==2">
            <!--<bar-chart config="config" data="tu3" height="350px" class="col-md-12"></bar-chart>-->
            <!--<line-chart config="config" data="tu2" height="350px" class="col-md-12"></line-chart>-->
            <div style="height:350px;" class="col-md-12" line-chart1 e-data="show.loadMonthData"></div>

            <table class="table table-bordered table-hover common-table col-md-6" style="width: 100%; margin-top: 20px">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>最大需量（KW）</th>
                    <!--<th>发生时间</th>-->
                </tr>
                </thead>
                <tr ng-repeat="item in monthdata">
                    <td><span>{{item.day}}</span></td>
                    <td><span>{{item.max}}</span></td>
                    <!--<td><span>{{item.times}}</span></td>-->

                </tr>
            </table>

        </div>
        <div class='month' ng-show="focusIndex==3">
            <!--<line-chart config="config" data="tu3" height="350px" class="col-md-12"></line-chart>-->
            <div style="height:350px;" class="col-md-12" line-chart1 e-data="show.loadYearData"></div>

            <table class="table table-bordered table-hover common-table col-md-6" style="width: 100%; margin-top: 20px">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>最大需量（KW）</th>
                    <!--<th>发生时间</th>-->
                </tr>
                </thead>
                <tr ng-repeat="item in yeardata">
                    <td><span>{{item.day}}</span></td>
                    <td><span>{{item.max}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>