<div style="background-color: #282828;" ng-style="{'width':bgSize.width+'px', 'height':bgSize.height+'px'}" ng-show="tree.data.length">
  <!--
    <h2>Color</h2>
    <div ng-style="color('red')" >{{colors.red}}</div>
    <div ng-style="color('blue')" >{{colors.blue}}</div>
  -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="{{bgSize.width}}" height="{{bgSize.height}}" viewBox="{{'0, 0, '+bgSize.width+', '+bgSize.height}}">
    <g transform="matrix({{num}},0,0,{{num}},{{num-1}},{{num-1}})">
    <g id="tempalte" transform="translate(0, -80)" ng-show="false">
      <text transform="matrix(8.274, 0, 0, 8.274, 61.212, 387.606)">
        <tspan x="-6.22" y="0.5" font-family="PingFangSC-Regular" font-size="1.43" fill="#FF00FF">三相平均无功功率</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 123.773, 391.715)">
        <tspan x="-0.737" y="0" font-family="Helvetica" font-size="1.396" fill="#FF00FF">Q:</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 156.416, 391.715)">
        <tspan x="-2.466" y="0" font-family="Helvetica" font-size="1.396" fill="#FF00FF">0 kVar</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 61.212, 363.784)">
        <tspan x="-6.22" y="0.5" font-family="PingFangSC-Regular" font-size="1.43" fill="#00FFFF">三相平均有功功率</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 125.358, 367.149)">
        <tspan x="-0.676" y="0" font-family="Helvetica" font-size="1.43" fill="#00FFFF">P:</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 165.546, 367.149)">
        <tspan x="-3.448" y="0" font-family="Helvetica" font-size="1.396" fill="#00FFFF">233.6 kW</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 50.38, 339.962)">
        <tspan x="-4.79" y="0.5" font-family="PingFangSC-Regular" font-size="1.43" fill="#FFFF00">三相平均电流</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 125.331, 343.726)">
        <tspan x="-0.582" y="0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">I :</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 150.424, 343.726)">
        <tspan x="-1.51" y="0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">0 A</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 49.38, 317.712)">
        <tspan x="-4.79" y="0.5" font-family="PingFangSC-Regular" font-size="1.43" fill="#FFFF00">三相平均电压</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 125.897, 321.849)">
        <tspan x="-0.892" y="0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">U :</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 156.416, 321.849)">
        <tspan x="-2.13" y="0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">223V</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 144.44, 288.672)">
        <tspan x="-1.004" y="0" font-family="Helvetica" font-size="1.396" fill="#00FF00">D</tspan>
      </text>
      <path d="M151.748,284.535 C151.748,291.389 146.191,296.946 139.337,296.946 C132.483,296.946 126.926,291.389 126.926,284.535 C126.926,277.681 132.483,272.124 139.337,272.124 C146.191,272.124 151.748,277.681 151.748,284.535 z" fill-opacity="0" stroke="#00FF00" stroke-width="0.5"/>
      <path d="M98.245,284.535 L126.926,284.535" fill-opacity="0" stroke="#00FF00" stroke-width="0.5"/>
      <path d="M98.194,284.587 L90.013,292.757" fill-opacity="0" stroke="#00FF00" stroke-width="0.5"/>
      <path d="M78.183,280.398 L86.536,288.826" fill-opacity="0" stroke="#00FF00" stroke-width="0.5"/>
      <path d="M86.45,279.527 L78.269,287.697" fill-opacity="0" stroke="#00FF00" stroke-width="0.5"/>
      <path d="M57.752,284.612 L81.045,284.612" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <text transform="matrix(8.274, 0, 0, 8.274, 140.303, 230.695)">
        <tspan x="-0.504" y="0" font-family="Helvetica" font-size="1.396" fill="#FF0000">D</tspan>
      </text>
      <path d="M151.748,226.558 C151.748,233.412 146.191,238.969 139.337,238.969 C132.483,238.969 126.926,233.412 126.926,226.558 C126.926,219.704 132.483,214.147 139.337,214.147 C146.191,214.147 151.748,219.704 151.748,226.558 z" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <path d="M81.091,226.544 L126.926,226.571" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <path d="M77.183,222.421 L85.536,230.849" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <path d="M85.45,222.55 L77.27,230.72" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <path d="M60.161,226.558 L81.091,226.558" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
      <text transform="matrix(8.274, 0, 0, 8.274, 92.061, 211.139)">
        <tspan x="-1.919" y="0.5" font-family="PingFangSC-Regular" font-size="1.419" fill="#FF0000">闭合</tspan>
      </text>
      <text transform="matrix(8.274, 0, 0, 8.274, 93.061, 271.176)">
        <tspan x="-1.919" y="0.5" font-family="PingFangSC-Regular" font-size="1.419" fill="#00FF00">断开</tspan>
      </text>
    </g>
    <g>
      <g>
      <text transform="{{clientNameTransform}}">
          <tspan x="-1.165" y="-0" font-family="Helvetica" font-size="1.396" fill="#FFFFFF">{{tree.name}}</tspan>
        </text>
        <path d="{{clientPathD}}" fill="#FF0000"></path>
      </g>
      <g>
        <g ng-repeat="inc in tree.data" ng-init="incIndex=$index;">
          <path d="{{incPathD(incIndex)}}" fill="#FF0000"></path>
          <text 
            transform="{{incNameTransform(incIndex, $index)}}"
            ng-repeat="char in inc.name track by $index"
          >
            <tspan x="-1.165" y="-0" font-family="Helvetica" font-size="1.396" fill="#FFFFFF">{{char}}</tspan>
          </text>
          <text 
            transform="{{incUTransform(incIndex, inc.name)}}"
          >
            <tspan x="-1.165" y="-0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">{{'U: ' + monitorData[incIndex].lines[0].Uphavg}}</tspan>
          </text>
          <g>
            <g 
              transform="{{branchTransform(incIndex, branchIndex)}}" 
              ng-repeat="branch in inc.lines " 
              ng-init="branchIndex=$index;"
            >

              <path d="M25.829,32.684 L71.664,32.711" fill-opacity="0" stroke="#FF0000" ng-hide="monitorData[incIndex].lines[branchIndex].Iavg==='0.00A'" stroke-width="0.5"/>
              <path d="M30.388,28.613 L22.208,36.783" fill-opacity="0" stroke="#FF0000" ng-hide="monitorData[incIndex].lines[branchIndex].Iavg==='0.00A'" stroke-width="0.5"/>
              <path d="M22.121,28.613 L30.474,37.041" fill-opacity="0" stroke="#FF0000" ng-hide="monitorData[incIndex].lines[branchIndex].Iavg==='0.00A'" stroke-width="0.5"/>
              <text transform="matrix(6.619, 0, 0, 6.619, 28.892, 49.127)">
                <tspan x="-1.086" y="0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">I:</tspan>
              </text>
              <text transform="matrix(6.619, 0, 0, 6.619, 45, 49.127)">
              <tspan x="-1.165" y="-0" font-family="Helvetica" font-size="1.396" fill="#FFFF00">{{monitorData[incIndex].lines[branchIndex].Iavg}}</tspan>
              </text>
              <text transform="matrix(6.619, 0, 0, 6.619, 24.828, 59.879)">
                <tspan x="-0.676" y="-0" font-family="Helvetica" font-size="1.43" fill="#00FFFF">P:</tspan>
              </text>
              <text transform="matrix(6.619, 0, 0, 6.619, 60, 61.365)">
              <tspan x="-3.448" y="0" font-family="Helvetica" font-size="1.396" fill="#00FFFF">{{monitorData[incIndex].lines[branchIndex].P}}</tspan>
              </text>
              <text transform="matrix(6.619, 0, 0, 6.619, 24.601, 71.736)">
              <tspan x="-0.737" y="-0" font-family="Helvetica" font-size="1.396" fill="#FF00FF">Q:</tspan>
              </text>
              <text transform="matrix(6.619, 0, 0, 6.619, 50, 71.736)">
              <tspan x="-1.966" y="0" font-family="Helvetica" font-size="1.396" fill="#FF00FF">{{monitorData[incIndex].lines[branchIndex].Q}}</tspan>
              </text>
              <path d="M4.899,32.827 L25.829,32.827" fill-opacity="0" stroke="#FF0000" stroke-width="0.5"/>
              <text transform="matrix(8.274, 0, 0, 8.274, 39.337, 12.791)">
              <tspan x="-3.003" y="0.5" font-family="PingFangSC-Regular" font-size="1.43" fill="#F9F4F4">{{branch.name}}</tspan>
              </text>

              <g
                      ng-click="chooseBranch(inc.id, branch.id,incIndex,branchIndex)"
                      data-placement="{{'right'}}"
                      data-container="body"
                      data-template-url="app/powers/monitoring/widgets/branch-detail.html"
                      data-auto-close="1"
                      bs-popover>
                <path
                        d="M97,32.75 C97,39.604 91.443,45.161 84.589,45.161 C77.735,45.161 72.178,39.604 72.178,32.75 C72.178,25.896 77.735,20.339 84.589,20.339 C91.443,20.339 97,25.896 97,32.75 z"
                        fill-opacity="0"
                        stroke="{{monitorData[incIndex].lines[branchIndex].Iavg==='0.00A' ? '#00FF00' : '#FF0000'}}"
                        stroke-width="0.5"
                />
                <text transform="matrix(8.274, 0, 0, 8.274, 88.692, 36.887)">
                  <tspan
                    x="-1.004"
                    y="-0"
                    font-family="Helvetica"
                    font-size="1.396"
                    fill="{{monitorData[incIndex].lines[branchIndex].Iavg==='0.00A' ? '#00FF00' : '#FF0000'}}"
                  >D</tspan>
                </text>
              </g>

              <path d="M43.427,32.802 L35.246,40.972" fill-opacity="0" stroke="#00FF00" ng-show="monitorData[incIndex].lines[branchIndex].Iavg==='0.00A'" stroke-width="0.5"/>
              <path d="M43.427,32.698 L72.108,32.698" fill-opacity="0" stroke="#00FF00"  ng-show="monitorData[incIndex].lines[branchIndex].Iavg==='0.00A'" stroke-width="0.5"/>
              <path d="M4.696,34.889 C3.602,34.889 2.715,33.964 2.715,32.823 C2.715,31.681 3.602,30.756 4.696,30.756 C5.79,30.756 6.676,31.681 6.676,32.823 C6.676,33.964 5.79,34.889 4.696,34.889 z" fill="#FF0000"/>
            </g>

          </g>
        </g>
      </g>
    </g>
    </g>
  </svg>

</div>
