<div class="modal-content">
    <div class="modal-header bg-danger">
        <i class="ion-flame modal-icon"></i><span> 提示</span>
    </div>
    <div class="modal-body power-modal-desc">确定删除设备？该设备的所有数据将被删除，本操作不可逆！</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-def-width" ng-click="submit()">确定</button>
        <button type="button" class="btn btn-danger btn-danger-empty btn-def-width"
                ng-click="$dismiss()">取消
        </button>
    </div>
</div>
