<div class="horizontal-scroll">
    <table class="table table-bordered table-hover common-table" st-table="show.setListHistory"
           st-safe-src="rowCollectionHistory">
        <thead>
        <tr>
            <th>客户名称</th>
            <th>巡检任务</th>
            <th>异常数量</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in show.setListHistory" ng-click="viewPollingDetail(item.id)">
            <td class="table-def-cursor">
                <span ng-bind="item.client"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.name"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.exceptionNum"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.timeStart"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.timeEnd"></span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
