<div class="horizontal-scroll">
    <table class="table table-bordered table-hover common-table" st-table="show.excepList"
           st-safe-src="rowExcepList">
        <thead>
        <tr>
            <th ng-repeat="item in show.excepListTitle" ng-bind="item"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in show.excepList" ng-click="viewExcepDetail(item.id)">
            <td class="table-def-cursor">
                <span ng-bind="item.clientName"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.currentPlace"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.device.name"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.exceptionName"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="getExcepType(item.exceptionLevel)"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.timeSuggested"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.status"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.updateAt"></span>
            </td>
            <td class="table-def-cursor">
                <span ng-bind="item.updateBy"></span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ show.excepListTitle.length }}" class="text-center">
                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
