<form class="form-inline row">

    <div class="col-sm-7 col-md-7 col-lg-7">

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">变电站：</label>
            <div class="col-sm-7">

                <!-- Single button -->
                <div class="select-right" uib-dropdown>
                    <button type="button" class="btn-def btn-trans" style="text-align: left"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{show.clientName}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in show.sidebarArr track by $index">
                            <a ng-bind="info.clientName" ng-click="changeClent(info)"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">日期：</label>
            <div class="col-sm-7">

                <input ng-click="togglePicker()"
                       uib-datepicker-popup="{{data.beginDate.format}}"
                       is-open="data.beginDate.isOpen"
                       datepicker-options="data.beginDate.options"
                       clear-text="清除"
                       current-text="今天"
                       close-text="关闭"
                       alt-input-formats="data.beginDate.altInputFormats"
                       ng-model="show.beginDate"
                       ng-model-options="data.beginDate.modelOptions"
                       type="text"
                       class="form-control-def text-center"
                       readonly="readonly"
                       style="min-width: 90px;max-width: 100% !important;">

            </div>
        </div>

    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-submit-yellow"
                    style="width: 100%;max-width: 90px !important;" ng-click="clear()">清空
            </button>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">

        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-main-blue"
                    style="width: 100%;min-width: 110px !important;max-width: 120px;" ng-click="print()">
                查看所有异常
            </button>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-submit-blue"
                    style="width: 100%;max-width: 90px !important;" ng-click="search()">查询
            </button>
        </div>

    </div>

</form>
