<form class="form-inline row">

    <div class="col-sm-7 col-md-7 col-lg-7">

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">变电站：</label>
            <div class="col-sm-7">

                <!-- Single button -->
                <div class="select-right" uib-dropdown>
                    <button type="button" class="btn-def btn-trans" style="text-align: left"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{show.clientName}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in show.sidebarArr track by $index">
                            <a ng-bind="info.clientName" ng-click="changeClent(info)"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">起始时间：</label>
            <div class="col-sm-7">

                <input id="scheduleBeginTime" type="text"
                       ng-model="show.from_time"
                       datetime-picker="yyyy-MM-dd HH:mm"
                       is-open="data.datetimepickerOptions1.datetimepicker.isOpen"
                       button-bar="data.datetimepickerOptions1.datetimepicker.buttonBar"
                       timepicker-options="data.datetimepickerOptions1.timepicker"
                       datepicker-options="data.datetimepickerOptions1.datepicker"
                       ng-click="data.datetimepickerOptions1.click()" class="form-control"
                       readonly/>

            </div>
        </div>

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">签到点：</label>
            <div class="col-sm-7">

                <!-- Single button -->
                <div class="select-right" uib-dropdown>
                    <button type="button" class="btn-def btn-trans" style="text-align: left"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{form.pos}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in show.checkPlaceArr track by $index">
                            <a ng-bind="info" ng-click="changeCheckPlace(info)"></a>
                        </li>
                        <li role="menuitem" ng-show="show.checkPlaceArr.length ==0 ">
                            <a>请先选择变电站信息</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px;">
            <label class="col-sm-5"
                   style="margin-right: 0 !important;line-height: 34px;">结束时间：</label>
            <div class="col-sm-7">

                <input id="scheduleEndTime" type="text"
                       ng-model="show.to_time"
                       datetime-picker="yyyy-MM-dd HH:mm"
                       is-open="data.datetimepickerOptions2.datetimepicker.isOpen"
                       button-bar="data.datetimepickerOptions2.datetimepicker.buttonBar"
                       timepicker-options="data.datetimepickerOptions2.timepicker"
                       datepicker-options="data.datetimepickerOptions2.datepicker"
                       ng-click="data.datetimepickerOptions2.datetimepicker.isOpen = true"
                       class="form-control" readonly/>

            </div>
        </div>

    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-submit-yellow"
                    style="width: 100%" ng-click="clear()">清空
            </button>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">

        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-main-blue"
                    style="width: 100%" ng-click="print()">打印
            </button>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-submit-blue"
                    style="width: 100%" ng-click="search()">查询
            </button>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 10px;">
            <button class="btn-def btn-main-blue"
                    style="width: 100%" ng-click="export()">导出
            </button>
        </div>

    </div>

</form>
