<div class="row">
    <div class="form-group col-md-4"
         ng-repeat="item in show.deviceAttrList track by $index"
         ng-show="checkDepend(item)">
        <label>{{item.name + (item.unit ?'('+item.unit+')':'')}}</label>

        <input type="{{ item.type == 'NUM' ? 'number' :item.type == 'STR'?'text' :'text' }}"
               class="form-control"
               ng-model="item.val"
               ng-show="item.type == 'NUM' || item.type == 'STR'">

        <div class="row" style="margin-left: 0;margin-right: 0"
             ng-show="item.type == 'RAD'">
            <div class="select-right" uib-dropdown>
                <button type="button" class="btn-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{item.val}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in item.option track by $index">
                        <a ng-bind="info" ng-click="item.click(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
