<div class="row">
    <div class="form-group col-md-4">
        <label>设备名称</label>
        <input type="text" class="form-control" ng-model="form.base.name">
    </div>
    <div class="form-group col-md-4">
        <label>设备类型</label>

        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="btn-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.deviceType}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.devicetypeArr track by $index">
                        <a ng-bind="info.name" ng-click="setDeviceType(info)"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="form-group col-md-4">
        <label>设备种类</label>
        <input type="text" class="form-control" ng-model="form.base.category">
    </div>

    <div class="form-group col-md-4">
        <label>设备代码</label>
        <input type="text" class="form-control" ng-model="form.base.code">
    </div>
    <div class="form-group col-md-4">
        <label>设备型号</label>
        <input type="text" class="form-control" ng-model="form.base.model">
    </div>
    <div class="form-group col-md-4">
        <label>安装位置</label>
        <input type="text" class="form-control" ng-model="form.base.position">
    </div>

    <!--line-->
    <div class="row" style="margin-left: 0;margin-right: 0;">
        <div class="form-group col-md-4">
            <label>所属变电站</label>

            <div class="row" style="margin-left: 0;margin-right: 0">
                <!-- Single button -->
                <div class="select-right" uib-dropdown>
                    <button type="button" class="btn-def btn-trans" style="text-align: left"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{show.clientName}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in show.sidebarArr track by $index">
                            <a ng-bind="info.clientName" ng-click="changeClent(info)"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="form-group col-md-4">
            <label>所属支线</label>

            <div class="row" style="margin-left: 0;margin-right: 0">
                <div class="select-right" uib-dropdown>
                    <button type="button" class="btn-def btn-trans" style="text-align: left"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{show.incominglineName}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in show.incominglingArr track by $index">
                            <a ng-bind="info.incominglineName" ng-click="changeIncomingling(info)"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group col-md-4">
        <label>出厂编号</label>
        <input type="text" class="form-control" ng-model="form.base.serialNum">
    </div>
    <div class="form-group col-md-4">
        <label>生产厂家</label>
        <input type="text" class="form-control" ng-model="form.base.manufacturer">
    </div>
    <div class="form-group col-md-4">
        <label>厂家联系人</label>
        <input type="text" class="form-control" ng-model="form.base.manufacturerContact">
    </div>
    <div class="form-group col-md-4">
        <label>厂家联系电话</label>
        <input type="text" class="form-control" ng-model="form.base.manufacturerTel">
    </div>

    <div class="form-group col-md-4">
        <label>投运日期</label>

        <input ng-click="toggleDatepicker()"
               uib-datepicker-popup="{{data.beginDate.format}}"
               is-open="data.beginDate.isOpen"
               datepicker-options="data.beginDate.options"
               clear-text="清除"
               current-text="今天"
               close-text="关闭"
               alt-input-formats="data.beginDate.altInputFormats"
               ng-model="show.usingDate"
               ng-model-options="data.beginDate.modelOptions"
               type="text"
               class="form-control"
               readonly="readonly"
               style="min-width: 90px">

    </div>
    <div class="form-group col-md-4">
        <label>上次电试日期</label>

        <input ng-click="togglelastetDatepicker()"
               uib-datepicker-popup="{{data.lastet.format}}"
               is-open="data.lastet.isOpen"
               datepicker-options="data.lastet.options"
               clear-text="清除"
               current-text="今天"
               close-text="关闭"
               alt-input-formats="data.lastet.altInputFormats"
               ng-model="show.electricTestDate"
               ng-model-options="data.lastet.modelOptions"
               type="text"
               class="form-control"
               readonly="readonly"
               style="min-width: 90px">

    </div>
    <div class="form-group col-md-4">
        <label>上次维修日期</label>

        <input ng-click="togglelastrepairDatepicker()"
               uib-datepicker-popup="{{data.lastrepair.format}}"
               is-open="data.lastrepair.isOpen"
               datepicker-options="data.lastrepair.options"
               clear-text="清除"
               current-text="今天"
               close-text="关闭"
               alt-input-formats="data.lastrepair.altInputFormats"
               ng-model="show.repairDate"
               ng-model-options="data.lastrepair.modelOptions"
               type="text"
               class="form-control"
               readonly="readonly"
               style="min-width: 90px">

    </div>

    <div class="form-group col-md-4">
        <label>额定电压</label>
        <input type="text" class="form-control" ng-model="form.base.voltage">
    </div>
    <div class="form-group col-md-4">
        <label>额定电流</label>
        <input type="text" class="form-control" ng-model="form.base.current">
    </div>
    <div class="form-group col-md-4">
        <label>额定频率</label>
        <input type="text" class="form-control" ng-model="form.base.frequency">
    </div>

    <div class="form-group col-md-4">
        <label>额定容量</label>
        <input type="text" class="form-control" ng-model="form.base.capacity">
    </div>
    <div class="form-group col-md-4">
        <label>运行状态</label>

        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="btn-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.status}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.deviceoperationstatusArr track by $index">
                        <a ng-bind="info.name" ng-click="setStatus(info)"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
