<table class="table table-bordered table-hover common-table" st-pipe="getData"
       st-table="show.branchEqp">
    <thead>
    <tr>
        <th>所属变电站</th>
        <th>所属总进线</th>
        <th>所属支线</th>
        <th>设备名称</th>
        <th>设备类型</th>
        <th>设备型号</th>
        <th>厂家</th>
        <th>上次电试日期</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody ng-show="!show.isLoading">
    <tr ng-repeat="item in show.branchEqp.devices">
        <td class="table-def-cursor">
            <span ng-bind="item.client_name"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.incomingline_name"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.branch_name"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.name"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.type"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.model"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.manufacturer"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="formatDate(item.lastet_date)"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.operationstatus"></span>
        </td>
        <td>
            <i class="ion-gear-a color-blue common-table-btn"
               ng-click="setItem(item.did)"></i>
            <i class="ion-trash-a color-red common-table-btn"
               ng-click="delItem(item.did)"></i>
        </td>
    </tr>
    </tbody>
    <tbody ng-show="show.isLoading">
    <tr>
        <td colspan="9" class="text-center">Loading ...</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td
                id="powerTablePagination"
                class="text-center" st-pagination=""
                st-items-by-page="show.maxSize"
                st-displayed-pages="show.displayedPages"
                colspan="9">
        </td>
    </tr>
    </tfoot>
</table>
