<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="col-md-12">
            <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                <label class="chart-title">
                    信息查询
                </label>
            </div>

            <div class="form-group col-sm-8 col-md-8 col-lg-8" style="margin-bottom: 10px;">
                <label class="col-sm-5"
                       style="margin-right: 0 !important;line-height: 34px;">数据类型：</label>
                <div class="col-sm-7">

                    <!-- Single button -->
                    <div class="select-right" uib-dropdown>
                        <button type="button" class="btn-def btn-trans" style="text-align: left"
                                uib-dropdown-toggle ng-disabled="disabled">
                            <span class="caret"></span>{{show.queryType}}
                        </button>

                        <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                            aria-labelledby="single-button">
                            <li role="menuitem"
                                ng-repeat="info in show.queryArr track by $index">
                                <a ng-bind="info.name" ng-click="changeQuery(info)"></a>
                            </li>

                            <li role="menuitem" ng-show="show.queryArr.length == 0">
                                <a>请先筛选变电站信息</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div line-chart
                 line-hide-hover="'auto'"
                 line-data='lData'
                 line-xkey='y'
                 line-ykeys='lYkeys'
                 line-labels='lLabels'
                 line-colors='lColors'
                 line-date-format="lFormat">
            </div>

        </div>

        <div class="col-md-12">
            <label class="custom-checkbox" style="padding: 0 3px 0 10px;margin: 3px;"
                   ng-repeat="item in show.bCheckArr track by $index">
                <input type="checkbox" ng-model="item.checked" ng-click="changeBCheck(item)">
                <span>{{item.label}}</span>
            </label>
        </div>

    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">

    </div>

</div>