<div class="row">

    <style type="text/css" scoped>
        /* pie饼状图*/
        #pieChart {
            width: 100%;
        }
    </style>

    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                <label class="chart-title">
                    信息查询
                </label>
            </div>

            <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                <label class="col-sm-5"
                       style="margin-right: 0 !important;line-height: 34px;">数据类型：</label>
                <div class="col-sm-7">

                    <!-- Single button -->
                    <div class="select-right" uib-dropdown>
                        <button type="button" class="btn-def btn-trans" style="text-align: left"
                                uib-dropdown-toggle ng-disabled="disabled">
                            <span class="caret"></span>{{show.queryName}}
                        </button>

                        <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                            aria-labelledby="single-button">
                            <li role="menuitem"
                                ng-repeat="info in show.queryArr track by $index">
                                <a ng-bind="info.name" ng-click="changeQuery(info)"></a>
                            </li>

                            <li role="menuitem" ng-show="show.queryArr.length == 0">
                                <a>请先筛选变电站信息</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div line-chart
                 line-hide-hover="'auto'"
                 line-data='lData'
                 line-xkey='y'
                 line-ykeys='lYkeys'
                 line-labels='lLabels'
                 line-colors='lColors'
                 line-smooth='false'>
            </div>

        </div>

        <div class="col-md-12" style="margin: 15px 0;padding-left: 30px;">
            <button class="btn-def btn-main-blue"
                    style="line-height: 8px;"
                    ng-click="selectAll()">全选
            </button>

            <button class="btn-def btn-main-blue" style="line-height: 8px;"
                    ng-click="selectNone()">全不选
            </button>
        </div>

        <div class="col-md-12" style="padding-left: 50px;">
            <label class="custom-checkbox"
                   ng-repeat="item in show.bCheckArr track by $index">
                <input type="checkbox" ng-model="item.checked" ng-click="changeBCheck()">
                <span ng-style="item.style"
                      style="padding: 2px;
                      color: #fff;
                      border-radius: 3px;">
                    {{item.name}}
                </span>
            </label>
        </div>
    </div>

    <div class="col-md-12" style="padding-top: 30px">
        <div class="col-md-12">
            <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                <label class="chart-title">
                    电量占比
                </label>
            </div>

        </div>

        <div id="pieChart" class="admin-chart" ng-controller="PieChartCtrl"></div>
    </div>

</div>