<div class="" style="max-height: 580px;overflow-y: auto;">
  <div style="margin-bottom: 15px">
    <div class="modal-head">编辑用户</div>
  </div>
<div style="padding: 0 30px;">
  <div include-with-scope="app/powers/setuser/widgets/userBase.html"></div>

  <div style="text-align: center">
    <button class="btn-def btn-green" style="width: 80px;margin: 15px;"
            ng-click="edit()">编辑
    </button>

    <button class="btn-def btn-yellow" style="width: 80px;margin: 15px;"
            ng-click="$dismiss()">取消
    </button>
  </div>
</div>
</div>