<!--<div class="horizontal-scroll">-->
<div>
    <table class="table table-bordered table-hover common-table" st-table="show.userList"
           st-safe-src="rowCollection">
        <thead>
        <tr>
            <th>姓名</th>
            <th>用户名</th>
            <th>身份</th>
            <th>工号</th>
            <th>所辖客户</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in show.userList">
            <td ng-click="edit(item.uid)">
                <span ng-bind="item.name"></span>
            </td>
            <td ng-click="edit(item.uid)">
                <span ng-bind="item.account"></span>
            </td>
            <td ng-click="edit(item.uid)">
                <span ng-bind="item.authority"></span>
            </td>
            <td ng-click="edit(item.uid)">
                <span ng-bind="item.code"></span>
            </td>
            <td>
                <div class="select-right" uib-dropdown
                     style="display: inline-block;min-width: 160px;text-align: right;">
                    <button type="button" class="btn-def btn-transparent btn-autospace"
                            uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>{{item.auth_id}}
                    </button>

                    <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="info in item.authList track by $index">
                            <a ng-bind="info"></a>
                        </li>
                    </ul>
                </div>
            </td>
            <td ng-click="edit(item.uid)">
                <span ng-bind="item.status"></span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
