<div class="row">
    <h6 class="color-red">*为必填项</h6>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <i class="color-red" style="margin-right: 5px">*</i><label>用户名</label>
        <input type="text" class="form-control-def" ng-model="form.username">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <i class="color-red" style="margin-right: 5px">*</i><label>密码</label>
        <input type="text" class="form-control-def" ng-model="form.password">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <i class="color-red" style="margin-right: 5px">*</i><label>姓名</label>
        <input type="text" class="form-control-def" ng-model="form.name">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>性别</label>
        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.gender}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.genderArr track by $index">
                        <a ng-bind="info.name" ng-click="setGender(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <i class="color-red" style="margin-right: 5px">*</i><label>联系电话</label>
        <input type="text" class="form-control-def" ng-model="form.phone">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>电子邮箱</label>
        <input type="text" class="form-control-def" ng-model="form.email">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>邮件通知</label>
        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.sendEmail}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.sendemailArr track by $index">
                        <a ng-bind="info.name" ng-click="setsendEmail(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>描述</label>
        <input type="text" class="form-control-def" ng-model="form.description">
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>户用业主</label>
        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.owner}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.ownerArr track by $index">
                        <a ng-bind="info.name" ng-click="setOwner(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label>级别</label>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <!-- Single button -->
        <div class="select-right" uib-dropdown>
            <button type="button" class="form-control-def btn-trans" style="text-align: left"
                    uib-dropdown-toggle ng-disabled="disabled">
                <span class="caret"></span>{{show.level}}
            </button>

            <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                aria-labelledby="single-button">
                <li role="menuitem"
                    ng-repeat="info in show.levelArr track by $index">
                    <a ng-bind="info.name" ng-click="setLevel(info)"></a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>状态</label>
        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.status}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.statusArr">
                        <a ng-bind="info.name" ng-click="setStatus(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>权限</label>
        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.auth}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-repeat="info in show.authArr track by $index">
                        <a ng-bind="info.name" ng-click="setAuth(info)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <label>客户名称</label>

        <div class="row" style="margin-left: 0;margin-right: 0">
            <!-- Single button -->
            <div class="select-right" uib-dropdown>
                <button type="button" class="form-control-def btn-trans" style="text-align: left"
                        uib-dropdown-toggle ng-disabled="disabled">
                    <span class="caret"></span>{{show.clientName}}
                </button>

                <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button" style="padding: 0 !important;">
                    <li role="menuitem"
                        ng-repeat="info in show.clientArr track by $index"
                        ng-class="info.state? 'dp-multi-hover' : '' "
                        style="line-height: 30px;padding: 3px 20px;">
                        <div ng-bind="info.name" ng-click="changeClent(info)"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>