.btn-transparent {
  background: transparent !important;
  border: transparent !important;
}

//主色
.color-blue {
  color: #144f92 !important;
}

.color-purple {
  color: #de3661 !important;
}

//内容默认无边距
.panel > .panel-body {
  padding: 0 !important;
  //margin: 15px !important;
}

/*

  ----------------------------------------common css finish-----------------------------------------

*/

/*
  一次系统图 hovr pop
*/
.pop-detail {
  width: 200px;
  min-width: 200px;
  padding: 0;
}

.pop-title {
  line-height: 35px;
  background: #144f92;
  color: #FFFFFF;
  text-align: center;
}

.pop-content {
  padding: 5px 10px;
}

.pop-content-div {
  line-height: 25px;
}

.pop-footer {
  line-height: 35px;
  color: #FFFFFF;
  background: #de3661;
  text-align: center;
  cursor: pointer;
  display: block;
}

/*
  支线详情
*/

.detail .top-content-tile {
  padding: 20px 0;
  text-align: center;
  font-size: 16px
}

.detail .top-content {
  border-radius: 5px;
  float: right;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 7px 2px rgba(20, 79, 146, 0.1);
  box-shadow: 0 0 7px 2px rgba(20, 79, 146, 0.1);
}

.detail .top-content-div {
  line-height: 40px;
}

.detail .top-middle {
  text-align: center;
  padding-top: 56px;
}

.detail .top-right-div {
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

/*
  smart table
*/
thead tr th {
  text-align: center;
  font-size: 15px !important;
  font-weight: bold !important;
  color: #333333 !important;
  padding: 7px 0 !important;
  line-height: 35px !important;
}

tbody tr td {
  text-align: center;
  padding: 7px 0 !important;
}

tbody tr:hover {
  background-color: #FFFBF0 !important;
  color: #144f92 !important;
  cursor: pointer !important;
}

tfoot tr td {
  padding-top: 15px !important;
  border: none !important;
}

.common-table {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.common-table-btn {
  display: inline-block;
  width: 35px;
  font-size: 23px;
}

/*
  angular toast css
*/
.toast-top-right {
  top: 80px !important;
}
