.btn-transparent {
  background: transparent !important;
  border: transparent !important;
}

//主色
.color-blue {
  color: #144f92 !important;
}

.color-purple {
  color: #de3661 !important;
}

//内容默认无边距
.panel > .panel-body {
  padding: 0 !important;
  margin: 15px !important;
}

// popover 设备详情detail
.pop-detail {
  width: 200px;
  min-width: 200px;
  padding: 0;
}

.pop-title {
  line-height: 35px;
  background: #144f92;
  color: #FFFFFF;
  text-align: center;
}

.pop-content {
  padding: 5px 10px;
}

.pop-content-div {
  line-height: 25px;
}

.pop-footer {
  line-height: 35px;
  color: #FFFFFF;
  background: #de3661;
  text-align: center;
  cursor: pointer;
  display: block;
}
