.btn-transparent {
  background: transparent !important;
  border: transparent !important;
}

//主色
.color-blue {
  color: #3b89ce !important;
}

.color-purple {
  color: #f0a53d !important;
}

//内容默认无边距
.panel > .panel-body {
  padding: 0 !important;
  //margin: 15px !important;
}

.item-content-list {
  background: #FFFFFF !important;
  border-radius: 5px !important;
  padding: 20px 30px !important;
}

.btn-def {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

.btn-main-blue {
  border: 1px #3b89ce solid;
  color: #3b89ce;
  background: transparent;
}

.btn-submit-blue {
  color: #FFFFFF !important;
  background: #3b89ce;
}

.btn-submit-yellow {
  color: #FFFFFF !important;
  background: #f0a53d;
}

.btn-trans {
  border: 1px solid #cbcbcb;
  background: transparent;
  width: 100%;
  height: 34px;
}

/**
  默认form-ctrl
*/

.form-control-def {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: none;
}

.form-control-def:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #4db1a7 !important;
  background: #ffffff !important;
}

/*
  数字时 箭头屏蔽掉
*/

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
 placeHolder默认颜色
*/

/*

  ----------------------------------------common css finish-----------------------------------------

*/

/*
  一次系统图 hovr pop
*/
.pop-detail {
  width: 200px;
  min-width: 200px;
  padding: 0;
}

.pop-title {
  line-height: 35px;
  background: #3b89ce;
  color: #FFFFFF;
  text-align: center;
}

.pop-content {
  padding: 5px 10px;
}

.pop-content-div {
  line-height: 25px;
}

.pop-footer {
  line-height: 35px;
  color: #FFFFFF;
  background: #f0a53d;
  text-align: center;
  cursor: pointer;
  display: block;
}

/*
  支线详情
*/

.detail .top-content-tile {
  padding: 20px 0;
  text-align: center;
  font-size: 16px
}

.detail .top-content {
  border-radius: 5px;
  float: right;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 7px 2px rgba(20, 79, 146, 0.1);
  box-shadow: 0 0 7px 2px rgba(20, 79, 146, 0.1);
}

.detail .top-content-div {
  line-height: 40px;
}

.detail .top-middle {
  text-align: center;
  padding-top: 56px;
}

.detail .top-right-div {
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

/*
  smart table
*/
thead tr th {
  text-align: center;
  font-size: 15px !important;
  font-weight: bold !important;
  color: #333333 !important;
  padding: 7px 0 !important;
  line-height: 35px !important;
}

tbody tr td {
  text-align: center;
  padding: 7px 0 !important;
}

tbody tr:hover {
  background-color: #FFFBF0 !important;
  color: #3b89ce !important;
  cursor: pointer !important;
}

tfoot tr td {
  padding-top: 15px !important;
  border: none !important;
}

.common-table {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.common-table-btn {
  display: inline-block;
  width: 35px;
  font-size: 23px;
}

/*
  angular toast css
*/
.toast-top-right {
  top: 80px !important;
}

/*
  modal 弹出框 css
*/
.power-modal-layout {
  top: 55px;
  bottom: auto;
}

.modal-create-device {
  padding: 25px 30px;
}

.caret {
  float: right !important;
  margin: 8px 0;
}

.dropdown-menu {
  width: 100% !important;
  margin-top: 0 !important;
  max-height: 200px;
  overflow-y: auto;
}
