<div ba-panel>
    <div class="setpwd" auto-height>

        <div style="margin-bottom: 15px;width: 100%;">
            <button type="button" class="btn-def" style="border-radius: 0;"
                    ng-repeat="item in show.pageTabData"
                    ng-class="item.state == show.pageTabState ? 'btn-submit-blue' : 'btn-main-blue' "
                    ng-click="changeState(item.state)">
                {{item.title}}
            </button>

            <!--<div style="background:#3b89ce;height: 2px"></div>-->
        </div>

        <div class="setpwd-block" ng-show="show.pageTabState == 'base'">

            <form class="form-horizontal">

                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请输入原密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" ng-model="data.pwd">
                    </div>
                </div>

                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请输入新手机号</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" ng-model="data.phone">
                    </div>

                    <button class="btn-def btn-submit-blue col-sm-2" id="code"
                            style="max-width: 90px !important;padding-left: 0;padding-right: 0;"
                            ng-click="getCode()">获取验证码
                    </button>

                </div>
                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请输入验证码</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" ng-model="data.code">
                    </div>
                </div>
            </form>

            <div style="margin-top: 30px">
                <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                    <button class="btn-def btn-submit-blue"
                            style="width: 100%" ng-click="editPhone()">确定
                    </button>
                </div>
            </div>

        </div>

        <div class="setpwd-block" ng-show="show.pageTabState == 'detail'">

            <form class="form-horizontal">

                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请输入原密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" ng-model="form.pwd">
                    </div>
                </div>

                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请输入新密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" ng-model="form.newpwd">
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px">
                    <label class="col-sm-4 control-label set-user-div">请确认新密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" ng-model="form.renewpwd">
                    </div>
                </div>
            </form>

            <div style="margin-top: 30px">
                <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 10px;">
                    <button class="btn-def btn-submit-blue"
                            style="width: 100%" ng-click="editPwd()">确定
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>
