<div  style="max-height: 600px;margin-top: 100px;overflow-y: auto">

    <div style="margin-bottom: 15px">
        <div class="modal-head">会议纪要</div>
    </div>
    <div style="padding: 15px 30px;padding-left: 100px">

        <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作票编号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.number" readonly>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作票内容</label>
                <div class="col-sm-6">
                    <textarea type="text" class="modal-textarea" cols="25.5" rows="5" readonly ng-model="form.content"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作签发人</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.issuer" readonly>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作负责人</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.responsibleMan" readonly>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作许可人</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.licensor" readonly>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作许可开始时间</label>
                <div class="col-sm-6">
                    <input ng-model="form.startTimeMin"
                           type="text"
                           class="form-control"
                           readonly="readonly"
                           style="text-align: left;background-color: #fff">
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作许可延期时间</label>
                <div class="col-sm-6">
                    <input ng-model="form.delayTimeMin"
                           type="text"
                           class="form-control"
                           readonly="readonly"
                           style="text-align: left;background-color: #fff">
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 line-height text-right">工作许可结束时间</label>
                <div class="col-sm-6">
                    <input ng-model="form.endTimeMin"
                           type="text"
                           class="form-control"
                           readonly="readonly"
                           style="text-align: left;background-color: #fff">
                </div>
            </div>
        </div>
    </div>
</div>