<div class="part-line text-center">
    <button type="button" class="btn-def btn-submit-blue part-title power-btn">
        电量概况
    </button>

    <span class="power-title"
          ng-click="viewEle('ele')"
          ng-class="show.eleState =='ele'?'line_active':'line_def'">
        月电量柱图
    </span>

    <span class="power-title"
          ng-click="viewEle('eleStack')"
          ng-class="show.eleState =='eleStack'?'line_active':'line_def'">
        月电量堆积图
    </span>

    <span class="color-blue" style="float: right;">
        {{show.eleTitle}}
    </span>
</div>

<!--柱状图-->
<div class="row" style="margin: 0;display: flex;">
    <div class="chart-item">
        <div style="height:140px;" column-chart e-data="show.eleMonth" ng-show="show.eleState =='ele'"></div>
        <div style="height:140px;" column-chart e-data="show.eleMonthStack" ng-show="show.eleState =='eleStack'"></div>
    </div>
    <div class="max-item">
        <div class="time_item" ng-show="show.eleMaxData.length">
            <div ng-repeat="item in show.eleMaxData track by $index">
                <div style="line-height: 26px;">
                    {{ item.title }} <span style="float: right;">{{ item.val }}</span>
                </div>
            </div>
        </div>
    </div>
</div>