<table class="table table-bordered table-hover common-table" st-pipe="getData"
       st-table="show.eventsData">
    <thead>
    <tr>
        <th ng-click="switchSelectAll()">
            <img ng-src="{{show.selectAll==true?'assets/img/cb.png':'assets/img/cb_false.png'}}">
        </th>
        <th>时间</th>
        <th>所属变电站</th>
        <th>所属支线</th>
        <th>描述</th>
        <th>确认</th>
        <th>操作员</th>
        <th>操作时间</th>
    </tr>
    </thead>
    <tbody ng-show="!show.isLoading">
    <tr ng-repeat="item in show.eventsData.events">
        <td>
            <label class="custom-checkbox" style="padding: 0 3px 0 10px;">
                <input type="checkbox" ng-model="item.checked">
                <span></span>
            </label>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="formatDate(item.createAt)"></span>
        </td>
        <td ng-click="viewClientDetail(item.client_id)">
            <span ng-bind="item.clientName" class="color-blue"></span>
        </td>
        <td ng-click="viewBranchDetail(item.line_id)">
            <span ng-bind="item.lineName" class="color-blue"></span>
        </td>
        <td class="table-def-cursor" style="max-width: 230px !important;">
            <div ng-bind="item.desc"
                 style="line-height: 20px;padding-top: 7px;padding-left: 15px;text-align: left"></div>
        </td>
        <td style="padding-top: 7px;">
            <button class="btn-def btn-submit-blue" style="width: 68px;"
                    ng-click="confirmItemEvent(item.id)"
                    ng-show="item.isConfirm == 0 ">确 认
            </button>

            <button class="btn-def btn-submit-gray" style="width: 68px;"
                    ng-show="item.isConfirm == 1">已确认
            </button>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="item.confirmBy"></span>
        </td>
        <td class="table-def-cursor">
            <span ng-bind="formatDate(item.confirmAt)"></span>
        </td>

    </tr>
    </tbody>
    <tbody ng-show="show.isLoading">
    <tr>
        <td colspan="8" class="text-center">Loading ...</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td
                id="powerTablePagination"
                class="text-center" st-pagination=""
                st-items-by-page="show.maxSize"
                st-displayed-pages="show.displayedPages"
                colspan="8">
        </td>
    </tr>
    </tfoot>
</table>
