<!--<div class="horizontal-scroll">-->
<div>
    <table class="table table-bordered table-hover common-table" st-table="show.setList"
           st-safe-src="rowCollection">
        <thead>
        <tr>
            <th>内容</th>
            <th>预警阈值</th>
            <th>报警阈值</th>
            <th>开关</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in show.setList">
            <td>
                <span ng-bind="item.dsc"></span>
            </td>
            <td>
                <span ng-bind="item.early_warning+item.unit"></span>
            </td>
            <td>
                <span ng-bind="item.warning+item.unit"></span>
            </td>
            <td>
                <ba-switcher switcher-style="primary" switcher-value="item.showStatus"
                             action="submit(item)"></ba-switcher>
            </td>
            <td ng-click="edit(item)">
                <span class="color-green">
                    编辑
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
