<div>
    <table class="table table-bordered table-hover common-table">
        <thead>
        <tr>
            <th>预警{{show.data.unit ? "（"+show.data.unit+"）" : ""}}</th>
            <th>报警{{show.data.unit ? "（"+show.data.unit+"）" : ""}}</th>
            <th>开关</th>
            <th>短信通知</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-def-cursor text-center">
                <input type="number" class="form-control-def form-control-sm text-center"
                       ng-model="show.data.warning">
            </td>
            <td class="table-def-cursor text-center">
                <input type="number" class="form-control-def form-control-sm text-center"
                       ng-model="show.data.error">
            </td>

            <td ng-class="{'pointer-none': !show.data.warning && !show.data.error}">
                <ba-switcher switcher-style="primary" switcher-value="show.data.showStatus"></ba-switcher>
            </td>
            <td ng-class="{'pointer-none': !show.data.warning && !show.data.error}">
                <ba-switcher switcher-style="primary" switcher-value="show.data.showMsgFlag"></ba-switcher>
            </td>
        </tr>
        </tbody>
    </table>
</div>