<div>
    <table class="table table-bordered table-hover common-table" st-table="show.setList"
           st-safe-src="rowCollection">
        <thead>
        <tr>
            <th>内容</th>
            <th>详细内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in show.setList">
            <td class="table-def-cursor" width="30%">
                <span ng-bind="item.desc"></span>
            </td>
            <td class="table-def-cursor" width="50%">
                <div ng-bind="item.detail"
                     style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 500px;"></div>
            </td>
            <td ng-click="edit(item)">
                <span class="color-green">
                    编辑
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
