<div>

    <!-- Single button -->
    <div class="select-right" uib-dropdown>
        <button type="button" class="btn-def btn-trans" style="text-align: left"
                uib-dropdown-toggle ng-disabled="disabled">
            <span class="caret"></span>{{show.deviceType}}
        </button>

        <ul class="dropdown-menu common-dp-ul" uib-dropdown-menu role="menu"
            aria-labelledby="single-button">
            <li role="menuitem"
                ng-repeat="info in show.devicetypeArr track by $index">
                <a ng-bind="info.name" ng-click="setDeviceType(info)"></a>
            </li>
        </ul>
    </div>

</div>