<!--<script src="http://www.shanghaihenghui.com/echarts/angular.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="http://www.shanghaihenghui.com/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="http://www.shanghaihenghui.com/echarts/angular-echarts.min.js" type="text/javascript" charset="utf-8"></script>-->

<div ba-panel>
    <div class="item-content-list test" auto-height>

        <div include-with-scope="app/powers/tfuhe/widgets/header.html"></div>
        <div class="time" ng-show="focusIndex==1">
            <div style="height:350px;" class="col-md-12" line-chart1 e-data="show.loadLineData"></div>


            <div>
                <table class="table table-bordered table-hover common-table col-md-6" style="width:100%;height:150px;margin:30px 0;">
                    <tr><td>最大负荷</td><td class="max">{{max}}</td><td>发生时间</td><td>{{maxtime}}</td></tr>
                    <tr><td>最小负荷</td><td class="min">{{min}}</td><td>发生时间</td><td>{{mintime}}</td></tr>
                    <tr><td>平均负荷</td><td class="avg">{{avg}}</td><td>峰谷差</td><td class="cha">{{fenggucha}}</td></tr>
                    <tr><td>峰谷差率</td><td class="chalv">{{fengguchalv}}</td><td>负荷率</td><td class="fhlv">{{fuhelv}}</td></tr>
                </table>
            </div>
        </div>
        <div class="day" ng-show="focusIndex==2">
            <div style="height:350px;" class="col-md-12" line-chart3 e-data="show.loadMonthData"></div>
            <div>
                <table class="table table-bordered table-hover common-table col-md-6" style="width:100%;height:150px;margin:30px 0;">
                    <tr><td>最大负荷</td><td class="max">{{daymax}}</td><td>发生时间</td><td>{{daymaxtime}}</td></tr>
                    <tr><td>最小负荷</td><td class="min">{{daymin}}</td><td>发生时间</td><td>{{daymintime}}</td></tr>
                    <tr><td>平均负荷</td><td class="avg">{{dayavg}}</td><td>峰谷差</td><td class="cha">{{dayfenggucha}}</td></tr>
                    <tr><td>峰谷差率</td><td class="chalv">{{dayfengguchalv}}</td><td>负荷率</td><td class="fhlv">{{dayfuhelv}}</td></tr>
                </table>
            </div>
            <div class="">
                <table class="table table-bordered table-hover common-table col-md-6" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>日期</th>
                        <th>最大负荷</th>
                        <th>最小负荷</th>
                        <th>平均负荷</th>
                        <th>峰谷差</th>
                        <th>负荷率</th>
                    </tr>
                    </thead>
                    <tr ng-repeat= "item in daydata">
                        <td><span>{{$index+1}}</span></td>
                        <td><span>{{item.day}}</span></td>
                        <td><span>{{item.max}}</span></td>
                        <td><span>{{item.min}}</span></td>
                        <td><span>{{item.avg}}</span></td>
                        <td><span>{{item.avg_rate}}</span></td>
                        <td><span>{{item.pv_rate}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='month' ng-show="focusIndex==3">
            <div style="height:350px;" class="col-md-12" line-chart3 e-data="show.loadYearData"></div>
            <div>
                <table class="table table-bordered table-hover common-table col-md-6" style="width:100%;height:150px;margin:30px 0;">
                    <tr><td>最大负荷</td><td class="max">{{monthmax}}</td><td>发生时间</td><td>{{monthmaxtime}}</td></tr>
                    <tr><td>最小负荷</td><td class="min">{{monthmin}}</td><td>发生时间</td><td>{{monthmintime}}</td></tr>
                    <tr><td>平均负荷</td><td class="avg">{{monthavg}}</td><td>峰谷差</td><td class="cha">{{monthfenggucha}}</td></tr>
                    <tr><td>峰谷差率</td><td class="chalv">{{monthfengguchalv}}</td><td>负荷率</td><td class="fhlv">{{monthfuhelv}}</td></tr>
                </table>
            </div>
            <div class="">
                <table class="table table-bordered table-hover common-table col-md-6" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>日期</th>
                        <th>最大负荷</th>
                        <th>最小负荷</th>
                        <th>平均负荷</th>
                        <th>峰谷差</th>
                        <th>负荷率</th>
                    </tr>
                    </thead>
                    <tr ng-repeat= "item in monthdata">
                        <td><span>{{$index+1}}</span></td>
                        <td><span>{{item.day}}</span></td>
                        <td><span>{{item.max}}</span></td>
                        <td><span>{{item.min}}</span></td>
                        <td><span>{{item.avg}}</span></td>
                        <td><span>{{item.avg_rate}}</span></td>
                        <td><span>{{item.pv_rate}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--

   例如要在这里用 lineChart

   1.在html代码里声明 指令，写的那几个指令是咦属性方式的。所以要下面的写法。
   2. e-data 就是当前chart需要的数据，颜色配置等不能在这里改，要改只能去指令改
   --->



</div>