<section>
  <div include-with-scope="app/powers/report/widgets/console.html"></div>
  <div style="margin-top: 15px">
    <table class="table table-hover common-table bg-white" st-pipe="getData"
           st-table="show.techQaArr">
      <thead>
      <tr>
        <th>提问人</th>
        <th>答题人</th>
        <th>答题时间</th>
        <th>问题</th>
        <th>操作</th>
      </tr>
      </thead>

      <tr ng-repeat="item in show.techQaArr.data" >
        <td>{{item.askMan}}</td>
        <td ng-click="editReport(item.id)">{{item.answerMan}}</td>
        <td ng-click="editReport(item.id)">{{item.answerTime}}</td>
        <td ng-click="editReport(item.id)">{{item.question}}</td>
        <td>
          <i class="ion-ios-trash-outline color-yellow common-table-btn"
             ng-click="delItem(item.id)"></i>
        </td>
      </tr>
      <tfoot>
      <tr>
        <td
                id="powerTablePagination"
                class="text-center" st-pagination=""
                st-items-by-page="show.maxSize"
                st-displayed-pages="show.displayedPages"
                colspan="9">
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>